<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite1">
    <test name="beanTest">
        <classes>
            <class name="com.example.BeanFactoryTest"/>
            <class name="com.example.ResourceTest"/>
            <class name="com.example.ApplicationContextTest"/>
        </classes>
    </test>
</suite>